Python 4A 21 fev 2025

In [128]:
x='Bonjour'

In [129]:
type(x)

str

In [130]:
for i in range(0,len(x)):
    print(x[i])

B
o
n
j
o
u
r

In [131]:
l = [1, 2, -3, 'abc', [1, 2, 3]]

In [132]:
for e in l:
    print(e)

1
2
-3
abc
[1, 2, 3]

In [133]:
for index, value in enumerate(l):
    if (index%2 == 0):
        print(index, ':' , value)

0 : 1
2 : -3
4 : [1, 2, 3]

In [134]:
x=2

In [135]:
x%2

0

In [136]:
for index, item in enumerate(l):
    if (index%2 == 0):
        print(index, ':' , item)
    elif (index > 1):
        print('yo !')
    else:
        print(item + item)

0 : 1
4
2 : -3
yo !
4 : [1, 2, 3]

In [137]:
for i in range(0, 2):
    print(l.pop())

[1, 2, 3]
abc

In [138]:
l = [1, 2, -3, 'abc', [1, 2, 3]]

In [139]:
def repetition(message, nb):
    print(message*nb)

In [140]:
l

[1, 2, -3, 'abc', [1, 2, 3]]

In [141]:
l.insert(2, 'hello')

In [142]:
l

[1, 2, 'hello', -3, 'abc', [1, 2, 3]]

In [143]:
ex_tuple = (1, 2, 3)

## Tuple are faster than list due to fixed memory allocation
Test de vitesse

In [144]:
import time

# Creating a list and a tuple with the same elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Measuring access time for the list
start_time = time.time()
for _ in range(1000000):
    my_list[2]
list_access_time = time.time() - start_time

# Measuring access time for the tuple
start_time = time.time()
for _ in range(1000000):
    my_tuple[2]
tuple_access_time = time.time() - start_time

print(f"List access time: {list_access_time}")
print(f"Tuple access time: {tuple_access_time}")

List access time: 0.05547738075256348
Tuple access time: 0.05984926223754883

In [145]:
my_list[-1]

10

In [146]:
user1 = {'firstname':'Clark', 'lastname':'Kent', 'job':'journalist'}

In [147]:
user1

{'firstname': 'Clark', 'lastname': 'Kent', 'job': 'journalist'}

In [148]:
for v in user1.values():
    print(v)

Clark
Kent
journalist

In [149]:
for k in user1.keys():
    print(k)

firstname
lastname
job

In [150]:
for k, v in user1.items():
    print(k, ':', v)

firstname : Clark
lastname : Kent
job : journalist

In [151]:
l

[1, 2, 'hello', -3, 'abc', [1, 2, 3]]

In [152]:
[v*2 for v in l]

[2, 4, 'hellohello', -6, 'abcabc', [1, 2, 3, 1, 2, 3]]

In [153]:
if (800 == 800.0):
    print('yes')
else:
    print('no')

yes

In [154]:
type(800)

int

In [155]:
type(800.0)

float

In [156]:
800 + 800.0

1600.0

# Exercice
-> Ecrire la compréhension de liste qui regroupe les carrés de tous les nombres entre 1 et 100 dans l'ordre décroissant

In [157]:
ex1 = [i**2 for i in range(100, 0, -1)]
print(ex1)

[10000, 9801, 9604, 9409, 9216, 9025, 8836, 8649, 8464, 8281, 8100, 7921, 7744, 7569, 7396, 7225, 7056, 6889, 6724, 6561, 6400, 6241, 6084, 5929, 5776, 5625, 5476, 5329, 5184, 5041, 4900, 4761, 4624, 4489, 4356, 4225, 4096, 3969, 3844, 3721, 3600, 3481, 3364, 3249, 3136, 3025, 2916, 2809, 2704, 2601, 2500, 2401, 2304, 2209, 2116, 2025, 1936, 1849, 1764, 1681, 1600, 1521, 1444, 1369, 1296, 1225, 1156, 1089, 1024, 961, 900, 841, 784, 729, 676, 625, 576, 529, 484, 441, 400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [158]:
l = [400,0, -3, 1000, 'abc']

In [159]:
[(x, y) for x in l for y in ex1]

[(400, 10000),
 (400, 9801),
 (400, 9604),
 (400, 9409),
 (400, 9216),
 (400, 9025),
 (400, 8836),
 (400, 8649),
 (400, 8464),
 (400, 8281),
 (400, 8100),
 (400, 7921),
 (400, 7744),
 (400, 7569),
 (400, 7396),
 (400, 7225),
 (400, 7056),
 (400, 6889),
 (400, 6724),
 (400, 6561),
 (400, 6400),
 (400, 6241),
 (400, 6084),
 (400, 5929),
 (400, 5776),
 (400, 5625),
 (400, 5476),
 (400, 5329),
 (400, 5184),
 (400, 5041),
 (400, 4900),
 (400, 4761),
 (400, 4624),
 (400, 4489),
 (400, 4356),
 (400, 4225),
 (400, 4096),
 (400, 3969),
 (400, 3844),
 (400, 3721),
 (400, 3600),
 (400, 3481),
 (400, 3364),
 (400, 3249),
 (400, 3136),
 (400, 3025),
 (400, 2916),
 (400, 2809),
 (400, 2704),
 (400, 2601),
 (400, 2500),
 (400, 2401),
 (400, 2304),
 (400, 2209),
 (400, 2116),
 (400, 2025),
 (400, 1936),
 (400, 1849),
 (400, 1764),
 (400, 1681),
 (400, 1600),
 (400, 1521),
 (400, 1444),
 (400, 1369),
 (400, 1296),
 (400, 1225),
 (400, 1156),
 (400, 1089),
 (400, 1024),
 (400, 961),
 (400, 900),
 (400, 841),
 (400, 784),
 (400, 729),
 (400, 676),
 (400, 625),
 (400, 576),
 (400, 529),
 (400, 484),
 (400, 441),
 (400, 400),
 (400, 361),
 (400, 324),
 (400, 289),
 (400, 256),
 (400, 225),
 (400, 196),
 (400, 169),
 (400, 144),
 (400, 121),
 (400, 100),
 (400, 81),
 (400, 64),
 (400, 49),
 (400, 36),
 (400, 25),
 (400, 16),
 (400, 9),
 (400, 4),
 (400, 1),
 (0, 10000),
 (0, 9801),
 (0, 9604),
 (0, 9409),
 (0, 9216),
 (0, 9025),
 (0, 8836),
 (0, 8649),
 (0, 8464),
 (0, 8281),
 (0, 8100),
 (0, 7921),
 (0, 7744),
 (0, 7569),
 (0, 7396),
 (0, 7225),
 (0, 7056),
 (0, 6889),
 (0, 6724),
 (0, 6561),
 (0, 6400),
 (0, 6241),
 (0, 6084),
 (0, 5929),
 (0, 5776),
 (0, 5625),
 (0, 5476),
 (0, 5329),
 (0, 5184),
 (0, 5041),
 (0, 4900),
 (0, 4761),
 (0, 4624),
 (0, 4489),
 (0, 4356),
 (0, 4225),
 (0, 4096),
 (0, 3969),
 (0, 3844),
 (0, 3721),
 (0, 3600),
 (0, 3481),
 (0, 3364),
 (0, 3249),
 (0, 3136),
 (0, 3025),
 (0, 2916),
 (0, 2809),
 (0, 2704),
 (0, 2601),
 (0, 2500),
 (0, 2401),
 (0, 2304),
 (0, 2209),
 (0, 2116),
 (0, 2025),
 (0, 1936),
 (0, 1849),
 (0, 1764),
 (0, 1681),
 (0, 1600),
 (0, 1521),
 (0, 1444),
 (0, 1369),
 (0, 1296),
 (0, 1225),
 (0, 1156),
 (0, 1089),
 (0, 1024),
 (0, 961),
 (0, 900),
 (0, 841),
 (0, 784),
 (0, 729),
 (0, 676),
 (0, 625),
 (0, 576),
 (0, 529),
 (0, 484),
 (0, 441),
 (0, 400),
 (0, 361),
 (0, 324),
 (0, 289),
 (0, 256),
 (0, 225),
 (0, 196),
 (0, 169),
 (0, 144),
 (0, 121),
 (0, 100),
 (0, 81),
 (0, 64),
 (0, 49),
 (0, 36),
 (0, 25),
 (0, 16),
 (0, 9),
 (0, 4),
 (0, 1),
 (-3, 10000),
 (-3, 9801),
 (-3, 9604),
 (-3, 9409),
 (-3, 9216),
 (-3, 9025),
 (-3, 8836),
 (-3, 8649),
 (-3, 8464),
 (-3, 8281),
 (-3, 8100),
 (-3, 7921),
 (-3, 7744),
 (-3, 7569),
 (-3, 7396),
 (-3, 7225),
 (-3, 7056),
 (-3, 6889),
 (-3, 6724),
 (-3, 6561),
 (-3, 6400),
 (-3, 6241),
 (-3, 6084),
 (-3, 5929),
 (-3, 5776),
 (-3, 5625),
 (-3, 5476),
 (-3, 5329),
 (-3, 5184),
 (-3, 5041),
 (-3, 4900),
 (-3, 4761),
 (-3, 4624),
 (-3, 4489),
 (-3, 4356),
 (-3, 4225),
 (-3, 4096),
 (-3, 3969),
 (-3, 3844),
 (-3, 3721),
 (-3, 3600),
 (-3, 3481),
 (-3, 3364),
 (-3, 3249),
 (-3, 3136),
 (-3, 3025),
 (-3, 2916),
 (-3, 2809),
 (-3, 2704),
 (-3, 2601),
 (-3, 2500),
 (-3, 2401),
 (-3, 2304),
 (-3, 2209),
 (-3, 2116),
 (-3, 2025),
 (-3, 1936),
 (-3, 1849),
 (-3, 1764),
 (-3, 1681),
 (-3, 1600),
 (-3, 1521),
 (-3, 1444),
 (-3, 1369),
 (-3, 1296),
 (-3, 1225),
 (-3, 1156),
 (-3, 1089),
 (-3, 1024),
 (-3, 961),
 (-3, 900),
 (-3, 841),
 (-3, 784),
 (-3, 729),
 (-3, 676),
 (-3, 625),
 (-3, 576),
 (-3, 529),
 (-3, 484),
 (-3, 441),
 (-3, 400),
 (-3, 361),
 (-3, 324),
 (-3, 289),
 (-3, 256),
 (-3, 225),
 (-3, 196),
 (-3, 169),
 (-3, 144),
 (-3, 121),
 (-3, 100),
 (-3, 81),
 (-3, 64),
 (-3, 49),
 (-3, 36),
 (-3, 25),
 (-3, 16),
 (-3, 9),
 (-3, 4),
 (-3, 1),
 (1000, 10000),
 (1000, 9801),
 (1000, 9604),
 (1000, 9409),
 (1000, 9216),
 (1000, 9025),
 (1000, 8836),
 (1000, 8649),
 (1000, 8464),
 (1000, 8281),
 (1000, 8100),
 (1000, 7921),
 (1000, 7744),
 (1000, 7569),
 (1000, 7396),
 (1000, 7225),
 (1000, 7056),
 (1000, 6889),
 (1000, 6724),
 (1000, 6561),
 (1000, 6400),
 (1000, 6241),
 (1000, 6084),
 (1000, 5929),
 (1000, 5776),
 (1000, 5625),
 (1000, 5476),
 (1000, 5329),
 (1000, 5184),
 (1000, 5041),
 (1000, 4900),
 (1000, 4761),
 (1000, 4624),
 (1000, 4489),
 (1000, 4356),
 (1000, 4225),
 (1000, 4096),
 (1000, 3969),
 (1000, 3844),
 (1000, 3721),
 (1000, 3600),
 (1000, 3481),
 (1000, 3364),
 (1000, 3249),
 (1000, 3136),
 (1000, 3025),
 (1000, 2916),
 (1000, 2809),
 (1000, 2704),
 (1000, 2601),
 (1000, 2500),
 (1000, 2401),
 (1000, 2304),
 (1000, 2209),
 (1000, 2116),
 (1000, 2025),
 (1000, 1936),
 (1000, 1849),
 (1000, 1764),
 (1000, 1681),
 (1000, 1600),
 (1000, 1521),
 (1000, 1444),
 (1000, 1369),
 (1000, 1296),
 (1000, 1225),
 (1000, 1156),
 (1000, 1089),
 (1000, 1024),
 (1000, 961),
 (1000, 900),
 (1000, 841),
 (1000, 784),
 (1000, 729),
 (1000, 676),
 (1000, 625),
 (1000, 576),
 (1000, 529),
 (1000, 484),
 (1000, 441),
 (1000, 400),
 (1000, 361),
 (1000, 324),
 (1000, 289),
 (1000, 256),
 (1000, 225),
 (1000, 196),
 (1000, 169),
 (1000, 144),
 (1000, 121),
 (1000, 100),
 (1000, 81),
 (1000, 64),
 (1000, 49),
 (1000, 36),
 (1000, 25),
 (1000, 16),
 (1000, 9),
 (1000, 4),
 (1000, 1),
 ('abc', 10000),
 ('abc', 9801),
 ('abc', 9604),
 ('abc', 9409),
 ('abc', 9216),
 ('abc', 9025),
 ('abc', 8836),
 ('abc', 8649),
 ('abc', 8464),
 ('abc', 8281),
 ('abc', 8100),
 ('abc', 7921),
 ('abc', 7744),
 ('abc', 7569),
 ('abc', 7396),
 ('abc', 7225),
 ('abc', 7056),
 ('abc', 6889),
 ('abc', 6724),
 ('abc', 6561),
 ('abc', 6400),
 ('abc', 6241),
 ('abc', 6084),
 ('abc', 5929),
 ('abc', 5776),
 ('abc', 5625),
 ('abc', 5476),
 ('abc', 5329),
 ('abc', 5184),
 ('abc', 5041),
 ('abc', 4900),
 ('abc', 4761),
 ('abc', 4624),
 ('abc', 4489),
 ('abc', 4356),
 ('abc', 4225),
 ('abc', 4096),
 ('abc', 3969),
 ('abc', 3844),
 ('abc', 3721),
 ('abc', 3600),
 ('abc', 3481),
 ('abc', 3364),
 ('abc', 3249),
 ('abc', 3136),
 ('abc', 3025),
 ('abc', 2916),
 ('abc', 2809),
 ('abc', 2704),
 ('abc', 2601),
 ('abc', 2500),
 ('abc', 2401),
 ('abc', 2304),
 ('abc', 2209),
 ('abc', 2116),
 ('abc', 2025),
 ('abc', 1936),
 ('abc', 1849),
 ('abc', 1764),
 ('abc', 1681),
 ('abc', 1600),
 ('abc', 1521),
 ('abc', 1444),
 ('abc', 1369),
 ('abc', 1296),
 ('abc', 1225),
 ('abc', 1156),
 ('abc', 1089),
 ('abc', 1024),
 ('abc', 961),
 ('abc', 900),
 ('abc', 841),
 ('abc', 784),
 ('abc', 729),
 ('abc', 676),
 ('abc', 625),
 ('abc', 576),
 ('abc', 529),
 ('abc', 484),
 ('abc', 441),
 ('abc', 400),
 ('abc', 361),
 ('abc', 324),
 ('abc', 289),
 ('abc', 256),
 ('abc', 225),
 ('abc', 196),
 ('abc', 169),
 ('abc', 144),
 ('abc', 121),
 ('abc', 100),
 ('abc', 81),
 ('abc', 64),
 ('abc', 49),
 ('abc', 36),
 ('abc', 25),
 ('abc', 16),
 ('abc', 9),
 ('abc', 4),
 ('abc', 1)]

In [160]:
list2list = [[1,2,3], [4,5,6], [7,8,9]]

In [161]:
list2list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [162]:
list2list[2][2]

9

In [163]:
list2list[-1][-1]

9

In [164]:
import numpy as np

In [165]:
u = np.array([1,2,3])

In [166]:
u

array([1, 2, 3])

In [167]:
v = np.array([4,-5,6])

In [168]:
u+v

array([ 5, -3,  9])

In [169]:
2*u

array([2, 4, 6])

In [170]:
-v

array([-4,  5, -6])

In [171]:
v

array([ 4, -5,  6])

In [172]:
-v

array([-4,  5, -6])

In [173]:
2 * u - v

array([-2,  9,  0])

In [174]:
u

array([1, 2, 3])

In [175]:
v

array([ 4, -5,  6])

Produit scalaire avec @

In [179]:
u @ v

np.int64(12)

In [180]:
u = np.array([1,0])
v = np.array([0,1])

In [181]:
u@v

np.int64(0)

In [182]:
u.dot(v)

np.int64(0)

In [183]:
v.dot(u)

np.int64(0)

In [184]:
np.dot(u, v)

np.int64(0)

In [185]:
M = np.array([[1,2], [3,4], [5,6]])

In [186]:
M

array([[1, 2],
       [3, 4],
       [5, 6]])

In [187]:
u

array([1, 0])

In [188]:
M @ u

array([1, 3, 5])

### fin